@import url(common.css);

body {
  text-align: center;
}

main {
  background-image: url(img/coffeebean03.png), url(img/leaf01.png), url(img/leaf02.png), url(img/coffeebean02.png), url(img/leaf03.png);
  background-size: 40vw, 40vw, 20vw, 30vw, 20vw;
  background-repeat: no-repeat;
  background-position: left top, right top, left 38%, right 30%, right 80%;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

h2 {
  padding-top: 96px;
  font-size: 48px;
}

aside {
  font-size: 14px;
}

h3 {
  padding-top: 96px;
  font-size: 40px;
  border-bottom: 1px solid #000;
}

ul.menulist {
  padding-top: 48px;
  text-align: left;
  display: flex;
  gap: 200px;
}

ul.menulist li {
  padding-bottom: 48px;
  flex: 1;
}

h4 {
  padding-bottom: 24px;
  font-size: 32px;
}

dl > div {
  display: flex;
  padding-bottom: 1em;
}

dt {
  flex: 3;
}
dd {
  flex: 1;
}

dt p:first-child {
  font-size: 18px;
}
dt p:last-child {
  font-size: 14px;
}

dd {
  text-align: right;
}

#drinks img {
  max-width: 480px;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

ul.menuphoto {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

ul.menuphoto img {
  max-width: 300px;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

ul.slider img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

/* .sp {
  display: none;
} */

#sweets {
  padding-bottom: 96px;
}

/* responsive */
@media (max-width: 991px) {
  ul.menulist {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #foods li li:last-child {
    padding-bottom: 0;
  }
  #sweets li:first-child {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  main {
    background-image: none;
    background-color: none;
  }
}

@media (max-width: 575px) {
  ul.menulist {
    max-width: 100%;
  }
  dt p:first-child {
    font-size: 16px;
  }
  p.pc,
  ul.pc {
    display: none;
  }
}
