@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+JP:wght@400;500&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #333;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  line-height: 2;
  font-family: "Noto Serif JP", serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  width: 100%;
  height: auto;
}

.sp {
  display: none;
}

a {
  width: 100%;
  height: auto;
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  height: 140px;
  background-image: url(img/wall.jpeg);
  background-size: cover;
  position: relative;
}

header .container {
  position: relative;
}

h1 {
  width: 140px;
  padding-top: 24px;
}

h1 .sp {
  display: none;
}

header .container > div {
  display: flex;
  gap: 48px;
  position: absolute;
  top: 24px;
  right: 15px;
}

.line {
  font-size: 24px;
  line-height: 30px;
  display: flex;
  gap: 16px;
}

header p {
  font-size: 24px;
  line-height: 30px;
}

.themefont {
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}

.icon {
  width: auto;
  height: 30px;
}

/*-------------------------------
ハンバーガーアイコン（モバイル用）
-------------------------------*/
/* 幅:50px, 高さ:50px, ボーダー:なし, 背景色:任意, FlexBox, 横:中央, 縦:中央, 配置:absolute, 上:15px, 右:15px  */
.hmenu {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f5f5f5;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 12px;
}

/* 幅:35px, 高さ:4px, 背景色:#fff, 角丸:4px, ブロック表示, 配置:absolute, 切り替え:0.5s */
.hmenu span,
.hmenu span::before,
.hmenu span::after {
  width: 35px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  display: block;
  position: absolute;
  transition: 0.5s;
}

/* 内容:"", 下:12px */
.hmenu span::before {
  content: "";
  bottom: 12px;
}

/* 内容:"", 上:12px */
.hmenu span::after {
  content: "";
  top: 12px;
}

/* 背景色:unset */
.hmenu.close span {
  background-color: unset;
}

/* 下:0, 回転:45° */
.hmenu.close span::before {
  bottom: 0;
  transform: rotate(45deg);
}

/* 上:0, 回転:-45° */
.hmenu.close span::after {
  top: 0;
  transform: rotate(-45deg);
}

nav ul {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

nav li {
  text-shadow: #fff 1px 1px 2px;
}

#sp-nav {
  display: none;
}

footer {
  height: 100px;
  background-image: url(img/wall.jpeg);
  background-size: cover;
  position: relative;
}

footer p.pagetop {
  width: 100px;
  position: fixed;
  right: 35px;
  bottom: 70px;
  display: none;
  z-index: 2;
}

footer p.coffeebean {
  width: 250px;
  position: absolute;
  left: 0;
  top: -65px;
}

footer div {
  width: 100%;
  position: relative;
  display: table;
}

footer p.logo {
  width: 300px;
  position: absolute;
  top: 18px;
  left: 15px;
}

footer .line {
  width: fit-content;
  margin-left: auto;
  padding-top: 35px;
  text-shadow: #fff 1px 1px 2px;
}

footer .copyright {
  padding: 8px 0;
  font-size: 12px;
  text-align: center;
}

/* responsive */

@media (min-width: 992px) {
  a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

@media (max-width: 991px) {
  header {
    height: auto;
  }

  h1 {
    padding-bottom: 24px;
  }

  footer p.logo {
    display: none;
  }

  footer .line {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 91px;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  header h1 .pc {
    display: none;
  }
  header h1 .sp {
    display: block;
    width: 240px;
  }

  header .container > div {
    display: none;
  }

  #pc-nav {
    display: none;
  }

  footer p.pagetop {
    right: 12px;
  }
}

@media (max-width: 767px) {
  .hmenu {
    display: flex;
  }
  #sp-nav {
    display: block;
    position: fixed;
    z-index: 999;
    top: 91px;
    right: -100%;
    width: 100%;
    height: calc(100% - 91px);
    background-color: rgb(255, 255, 255, 0.95);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.2);
    transition: all 0.6s;
    overflow-x: hidden;
    white-space: nowrap;
  }
  #sp-nav.nav-active {
    right: 0;
  }
  #sp-nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #sp-nav li {
    text-align: center;
  }
  #sp-nav a {
    padding: 8px;
  }
}

@media (max-width: 575px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

@media (min-width: 578px) {
  #sp-nav ul {
    gap: 16px;
  }
}
